# ==============================
# VS Code
# ==============================
.vscode/


# ==============================
# Windows
# ==============================
Thumbs.db
Desktop.ini


# ==============================
# macOS
# ==============================
.DS_Store


# ==============================
# Log files
# ==============================
*.log


# ==============================
# Environment variables
# ==============================
.env
.env.*
!.env.example


# ==============================
# Temporary files
# ==============================
*.tmp
*.temp